[v-cloak] {
    display: none;
}
.tabs {
    font-size: 14px;
    color: #657180;
}
.tabs-bar:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #d7dde4;
    margin-top: -1px;
}
.tabs-tab {
    display: inline-block;
    padding: 4px 16px;
    margin-right: 6px;
    background: #fff;
    border: 1px solid #d7dde4;
    cursor: pointer;
    position: relative;
}
.tabs-tab-active {
    color: #3399ff;
    border-top: 1px solid #3399ff;
    border-bottom: 1px solid #fff;
}
.tabs-tab-active:before {
    content: '';
    display: block;
    height: 1px;
    background: #3399ff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.tabs-content {
    height: 200px;
    padding: 8px 0;
}
.pane {
    visibility: hidden;
    width: 100%;
    height: 0;
    transform: translateX(-100%);
    transition: all .5s ease-in;
}
.pane-active {
    visibility: visible;
    transform: translateX(0);
}
.close.icon {
    color: #000;
    position: relative;
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin-left: 5px;
}
.close.icon:hover {
    background: #eee;
}

.close.icon:before {
    content: '';
    position: absolute;
    top: 5px;
    width: 11px;
    height: 1px;
    background-color: currentColor;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.close.icon:after {
    content: '';
    position: absolute;
    top: 5px;
    width: 11px;
    height: 1px;
    background-color: currentColor;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}  